.clickable {
  cursor: pointer;
}
.searchBar {
  min-width: 125px;
}
.list-group-item {
  padding: 0.75rem 0.25rem 0.25rem 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  min-width: 125px;
  z-index: 1;
}

.like {
  position: absolute; right: 4%; top: 65%;
}

.jcc {
  justify-content: center;
}

.productImageBox {
  min-width: 200px;
  height: 200px;
  background-color: lightcoral;
}

.card {
  height: 446px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  .card-columns {
    column-count: 1 !important
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 575.98px) and (max-width: 768px) {
  .card-columns {
    column-count: 2 !important
  }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-columns {
    column-count: 4 !important
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-columns {
    column-count: 4 !important
  }
} 